body{
	background-color:palegoldenrod;
	color:brown;
}
a{
	text-decoration: none;
	cursor: pointer;
	border-style: solid;
	border-color: black;
	color: black;
	background-color: grey;
}
#talk{
	font-family:times new roman ;
}